<script>
	function assignStartDate() {
				document.getElementById("form_gender_trafficking_start_date").value = $("#start_date_picker").val();
			}
			function assignEndDate() {
				document.getElementById("form_hgender_trafficking_end_date").value = $("#end_date_picker").val();
			}
</script>	
    <div class="page-content">
    	<div class="row">
		  <div class="col-md-2">
		  	<div class="sidebar content-box" style="display: block;">
                <ul class="nav">
                    <!-- Main menu -->
                    <li class="current"><a href="home/index"><i class="glyphicon glyphicon-home"></i>Home</a></li>

                    <li class="dropdown">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                           <i class="glyphicon glyphicon-tasks"></i> Data Entry <b class="caret"></b>
                         </a>
                         <!-- Sub menu -->
                         <ul>
                          <li> <%= link_to 'Resource and Finance', forms_new_path %></li>
                           <li><%= link_to 'Gender Justice', form_gender_index_path %></li>
                           <li><%= link_to 'Health', form_health_index_path %></li>
  			   <li><%= link_to 'Monitoring and Evaluation', forms_new_path %></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                           <i class="glyphicon glyphicon-stats"></i> Reports <b class="caret"></b>
                         </a>
                         <!-- Sub menu -->
                         <ul>
                          <li> <%= link_to 'Resource and Finance', forms_new_path %></li>
                           <li><%= link_to 'Gender Justice', forms_new_path %></li>
                           <li><%= link_to 'Health', report_health_index_path %></li>
  			   <li><%= link_to 'Monitoring and Evaluation', forms_new_path %></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                           <i class="glyphicon glyphicon-download-alt"></i> Documents <b class="caret"></b>
                         </a>
                         <!-- Sub menu -->
                         <ul>
                          <li> <%= link_to 'View', forms_new_path %></li>
                           <li><%= link_to 'Upload', forms_new_path %></li>
                        </ul>
                    </li>


                    <li><a href="tables.html"><i class="glyphicon glyphicon-list"></i>Partners</a></li>
                </ul>
             </div>
		  </div>
		  <div class="col-md-10">
		  	<div class="row">

		  	</div>

		  	<div class="row">
		  		<div class="col-md-12 panel-warning">
		  			<div class="content-box-header panel-heading">
	  					<div class="panel-title ">Data Entry - Human Trafficking</div>
						
						<div class="panel-options">
							<a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
							<a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
						</div>
		  			</div>
		  			<div class="content-box-large box-with-header">
			  			



<!--form-->
	
	  					<div class="content-box-large">
			  				
			  				<div class="panel-body">





<%= form_for :form_gender_trafficking, :url => { :action => :create }	 do |f| %>
	

			  					<!--form action="/forms/create" method="post"-->
									<fieldset>







		  				<div class="panel-body">





<%= f.hidden_field :start_date, :value => ""%>
<%= f.hidden_field :end_date, :value => "" %>





		  					<table class="table table-bordered">
				              <thead>
				                <tr>
				                  <th>Indicator</th>
				                  <th>Value</th>
				                </tr>
				              </thead>
				              <tbody>
						<tr>
															<td>Start Date</td>
															<td><div class="bfh-datepicker" data-format="y-m-d" data-date="today" id="start_date_picker" onchange="assignStartDate()"></div></td>
														</tr>
														<tr>
															<td>End Date</td>
															<td><div class="bfh-datepicker" data-format="y-m-d" data-date="today" id="end_date_picker" onchange="assignEndDate()"></div></td>
														</tr>	
				                <tr>
				                  <td colspan = "2"><b></b></td>
				                </tr>
				                <tr>
				                  <td>Forms of trafficking cases reported and documented</td>
				                  <td><%= f.text_field :trfk_cases_reported, autofocus: true, class: "form-control" %></td>
				                </tr>
				                <tr>
				                  <td>Number of trafficking cases resolved by law enforcement agencies</td>
				                  <td><%= f.text_field :trfk_cases_resolved, autofocus: true, class: "form-control" %></td>
				                </tr>
				                <tr>
				                  <td>% reduction of GBV cases in the churches and communities</td>
				                  <td><%= f.text_field :trfk_percent_reduction, autofocus: true, class: "form-control" %></td>
				                </tr>
				                <tr>
				                  <td>Number of churches incorporating human rights issues in their church services</td>
				                  <td><%= f.text_field :trfk_incorporation_in_church, autofocus: true, class: "form-control" %></td>
				                </tr>

				                <tr>
				                  <td>Number of outreach meetings</td>
				                  <td><%= f.text_field :trfk_outreach, autofocus: true, class: "form-control" %></td>
				                </tr>
				                <tr>
				                  <td>Number of legal mobile clinics</td>
				                  <td><%= f.text_field :trfk_mobile_clinic, autofocus: true, class: "form-control" %></td>
				                </tr>
				                <tr>
				                  <td>Number of awareness campaigns</td>
				                  <td><%= f.text_field :trfk_awareness, autofocus: true, class: "form-control" %></td>
				                </tr>
				                <tr>
				                  <td>Number of cases reported and resolved through informal justice systems</td>
				                  <td><%= f.text_field :trfk_informal_justice, autofocus: true, class: "form-control" %></td>
				                </tr>
				                


                                <tr>
				                  <td>Number of human trafficking victims identified and supported by other service providers</td>
				                  <td><%= f.text_field :trfk_other_service_providers, autofocus: true, class: "form-control" %></td>
				                </tr>
				                <tr>
				                  <td>Number of cases reported and resolved through informal justice systemsNumber of victims rescued, rehabiliated and reintegrated.</td>
				                  <td><%= f.text_field :trfk_rescued, autofocus: true, class: "form-control" %></td>
				                </tr>
				                <tr>
				                  <td>Number of courts/safe houses rehabilitated</td>
				                  <td><%= f.text_field :trfk_court_rehabilitated, autofocus: true, class: "form-control" %></td>
				                </tr>
				                <tr>
				                  <td>Number of networking iniatiaves</td>
				                  <td><%= f.text_field :trfk_network_initiatives, autofocus: true, class: "form-control" %></td>
				                </tr>




				                <tr>
				                  <td>Number of sustained meetings held by interagency operatives</td>
				                  <td><%= f.text_field :trfk_interagency_meet, autofocus: true, class: "form-control" %></td>
				                </tr>
				                <tr>
				                  <td>Trafficking issues raised and responded to</td>
				                  <td><%= f.text_field :trfk_issues_raised, autofocus: true, class: "form-control" %></td>
				                </tr>
				                

				              </tbody>
				            </table>
		  				</div>




								
									</fieldset>
									<div>
 
											<%= submit_tag "Finish", class:"btn btn-primary" %>
									</div>
								<!--/form-->
  <% end %>

			  				</div>
			  			</div>
	  				




						<br /><br />
					</div>
		  		</div>
		  	</div>

		  </div>
		</div>
    </div>

    <footer>
         <div class="container">
         
            <div class="copy text-center">
               Copyright 2015 <a href='#'>Compu Networks</a>
            </div>
            
         </div>
      </footer>

