<script>
        
</script>	
    <div class="page-content">
    	<div class="row">
		  <div class="col-md-2">
		  	<div class="sidebar content-box" style="display: block;">
                <ul class="nav">
                    <!-- Main menu -->
                    <li class="current"><a href="home/index"><i class="glyphicon glyphicon-home"></i>Home</a></li>

                    <li class="dropdown">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                           <i class="glyphicon glyphicon-tasks"></i> Data Entry <b class="caret"></b>
                         </a>
                         <!-- Sub menu -->
                         <ul>
                          <li> <%= link_to 'Resource and Finance', forms_new_path %></li>
                           <li><%= link_to 'Gender Justice', form_gender_index_path %></li>
                           <li><%= link_to 'Health', form_health_index_path %></li>
  			   <li><%= link_to 'Monitoring and Evaluation', forms_new_path %></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                           <i class="glyphicon glyphicon-stats"></i> Reports <b class="caret"></b>
                         </a>
                         <!-- Sub menu -->
                         <ul>
                          <li> <%= link_to 'Resource and Finance', forms_new_path %></li>
                           <li><%= link_to 'Gender Justice', forms_new_path %></li>
                           <li><%= link_to 'Health', report_health_index_path %></li>
  			   <li><%= link_to 'Monitoring and Evaluation', forms_new_path %></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                           <i class="glyphicon glyphicon-download-alt"></i> Documents <b class="caret"></b>
                         </a>
                         <!-- Sub menu -->
                         <ul>
                          <li> <%= link_to 'View', forms_new_path %></li>
                           <li><%= link_to 'Upload', forms_new_path %></li>
                        </ul>
                    </li>


                    <li><a href="tables.html"><i class="glyphicon glyphicon-list"></i>Partners</a></li>
                </ul>
             </div>
		  </div>
		  <div class="col-md-10">
		  	<div class="row">

		  	</div>

		  	<div class="row">
		  		<div class="col-md-12 panel-warning">
		  			<div class="content-box-header panel-heading">
	  					<div class="panel-title ">HIV AIDS - Report</div>
						
						<div class="panel-options">
							<a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
							<a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
						</div>
		  			</div>
		  			<div class="content-box-large box-with-header">
			  			



<!--form-->
	
	  					<div class="content-box-large">
			  				
			  				<div class="panel-body">



									<fieldset>






		  				<div class="panel-body">





		  					<table class="table table-bordered">
				              <tbody>
				                
				                <tr>
															<td colspan = "2">&nbsp;</td>
														</tr>
														


														<tr>
															<td># of rights holders on ART and PMTCT</td>
															<td><%= @hiv.hiv_rights_holders %></td>
														</tr>
														<tr>
															<td># of lobbying meetings, policy dialogues and national debates conducted</td>
															<td><%= @hiv.hiv_lobby_meetings %></td>
														</tr>
														
														<tr>
															<td colspan = "2">&nbsp;</td>
														</tr>
														<tr>
															<td># of women on HTC and PMTCT</td>
															<td><%= @hiv.hiv_women_htc_pmtct %></td>
														</tr>
														<tr>
															<td>% increase in budgetary allocation to HIV and AIDS</td>
															<td><%= @hiv.hiv_budget_allocation %></td>
														</tr>
														<tr>
															<td> # RH receiving care and support</td>
</td>
															<td><%= @hiv.hiv_rh_receiving_care %></td>
														</tr>
														<tr>
															<td># of  women , youth and OVCs benefiting from vocational skills and IGAs</td>
															<td><%= @hiv.hiv_women_youth_ovc %></td>
														</tr>
														<tr>
															<td>Number of men and women, boys and girls trained in reconstruction of masculinity, alcohol, and HIV and AIDS</td>
															<td><%= @hiv.hiv_reconstruction%></td>
														</tr>

														<tr>
															<td># of people going for HTC</td>
															<td><%= @hiv.hiv_people_htc %></td>
														</tr>
														<tr>
															<td># of children accessing PSS  services</td>
															<td><%= @hiv.hiv_child_pss%></td>
														</tr>
				                




				              </tbody>
				            </table>
		  				</div>




								
									</fieldset>

			  				</div>
			  			</div>
	  				




						<br /><br />
					</div>
		  		</div>
		  	</div>

		  </div>
		</div>
    </div>

    <footer>
         <div class="container">
         
            <div class="copy text-center">
               Copyright 2015 <a href='#'>Compu Networks</a>
            </div>
            
         </div>
      </footer>
