<script>
        
</script>	
    <div class="page-content">
    	<div class="row">
		  <div class="col-md-2">
		  	<div class="sidebar content-box" style="display: block;">
                <ul class="nav">
                    <!-- Main menu -->
                    <li class="current"><a href="home/index"><i class="glyphicon glyphicon-home"></i>Home</a></li>

                    <li class="dropdown">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                           <i class="glyphicon glyphicon-tasks"></i> Data Entry <b class="caret"></b>
                         </a>
                         <!-- Sub menu -->
                         <ul>
                          <li> <%= link_to 'Resource and Finance', forms_new_path %></li>
                           <li><%= link_to 'Gender Justice', form_gender_index_path %></li>
                           <li><%= link_to 'Health', form_health_index_path %></li>
  			   <li><%= link_to 'Monitoring and Evaluation', forms_new_path %></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                           <i class="glyphicon glyphicon-stats"></i> Reports <b class="caret"></b>
                         </a>
                         <!-- Sub menu -->
                         <ul>
                          <li> <%= link_to 'Resource and Finance', forms_new_path %></li>
                           <li><%= link_to 'Gender Justice', forms_new_path %></li>
                           <li><%= link_to 'Health', report_health_index_path %></li>
  			   <li><%= link_to 'Monitoring and Evaluation', forms_new_path %></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                           <i class="glyphicon glyphicon-download-alt"></i> Documents <b class="caret"></b>
                         </a>
                         <!-- Sub menu -->
                         <ul>
                          <li> <%= link_to 'View', forms_new_path %></li>
                           <li><%= link_to 'Upload', forms_new_path %></li>
                        </ul>
                    </li>


                    <li><a href="tables.html"><i class="glyphicon glyphicon-list"></i>Partners</a></li>
                </ul>
             </div>
		  </div>
		  <div class="col-md-10">
		  	<div class="row">

		  	</div>

		  	<div class="row">
		  		<div class="col-md-12 panel-warning">
		  			<div class="content-box-header panel-heading">
	  					<div class="panel-title ">Reproductive Health - Output Three</div>
						
						<div class="panel-options">
							<a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
							<a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
						</div>
		  			</div>
		  			<div class="content-box-large box-with-header">
			  			



<!--form-->
	
	  					<div class="content-box-large">
			  				
			  				<div class="panel-body">



									<fieldset>






		  				<div class="panel-body">





		  					<table class="table table-bordered">
				              <tbody>
				                
				                <tr>
															<td colspan = "2">&nbsp;</td>
														</tr>
														


														
													



<tr>
														<td>Number of people reached with SRHR BCC and advocacy messages disaggregated by channel and key message
														</td> 
														<td colspan="3">&nbsp;</td>
														</tr>
														<tr>
															<td>&nbsp;</td>
															<td colspan="2">Sensitization campaigns</td>
															<td>&nbsp;</td>
														</tr>
														<tr>
															<td>&nbsp;</td>
															<td>Key message</td>
															<td>Channel</td>
															<td>&nbsp;</td>
														</tr>

														<tr>
															<td>&nbsp;</td>
															<td><%= @reproductive_health_output_three2.sens_camp_key_mes_1  %></td>
															<td><%= @reproductive_health_output_three2.sens_camp_channel_1  %></td>
															<td><%= @reproductive_health_output_three.sens_camp_key_mes_fig_1  %></td>
														</tr>

														<tr>
															<td>&nbsp;</td>
															<td><%= @reproductive_health_output_three2.sens_camp_key_mes_2  %></td>
															<td><%= @reproductive_health_output_three2.sens_camp_channel_2  %></td>
															<td><%= @reproductive_health_output_three.sens_camp_key_mes_fig_2  %></td>
														</tr>

														<tr>
															<td>&nbsp;</td>
															<td><%= @reproductive_health_output_three2.sens_camp_key_mes_3  %></td>
															<td><%= @reproductive_health_output_three2.sens_camp_channel_3  %></td>
															<td><%= @reproductive_health_output_three.sens_camp_key_mes_fig_3  %></td>
														</tr>

														<tr>
															<td>&nbsp;</td>
															<td><%= @reproductive_health_output_three2.sens_camp_key_mes_4  %></td>
															<td><%= @reproductive_health_output_three2.sens_camp_channel_4  %></td>
															<td><%= @reproductive_health_output_three.sens_camp_key_mes_fig_4  %></td>
														</tr>

														<tr>
															<td>&nbsp;</td>
															<td><%= @reproductive_health_output_three2.sens_camp_key_mes_5  %></td>
															<td><%= @reproductive_health_output_three2.sens_camp_channel_5  %></td>
															<td><%= @reproductive_health_output_three.sens_camp_key_mes_fig_5  %></td>
														</tr>

														<tr>
															<td>&nbsp;</td>
															<td><%= @reproductive_health_output_three2.sens_camp_key_mes_6  %></td>
															<td><%= @reproductive_health_output_three2.sens_camp_channel_6  %></td>
															<td><%= @reproductive_health_output_three.sens_camp_key_mes_fig_6  %></td>
														</tr>

														<tr>
															<td>&nbsp;</td>
															<td><%= @reproductive_health_output_three2.sens_camp_key_mes_7  %></td>
															<td><%= @reproductive_health_output_three2.sens_camp_channel_7  %></td>
															<td><%= @reproductive_health_output_three.sens_camp_key_mes_fig_7  %></td>
														</tr>

														<tr>
															<td>&nbsp;</td>
															<td><%= @reproductive_health_output_three2.sens_camp_key_mes_8  %></td>
															<td><%= @reproductive_health_output_three2.sens_camp_channel_8  %></td>
															<td><%= @reproductive_health_output_three.sens_camp_key_mes_fig_8  %></td>
														</tr>

														<tr>
															<td>&nbsp;</td>
															<td><%= @reproductive_health_output_three2.sens_camp_key_mes_9  %></td>
															<td><%= @reproductive_health_output_three2.sens_camp_channel_9  %></td>
															<td><%= @reproductive_health_output_three.sens_camp_key_mes_fig_9  %></td>
														</tr>


														<tr>
															<td>&nbsp;</td>
															<td colspan="2">Advocacy campaigns</td>
															<td>&nbsp;</td>
														</tr>
														<tr>
															<td>&nbsp;</td>
															<td>Key message</td>
															<td>Channel</td>
															<td>&nbsp;</td>
														</tr>



														<tr>
															<td>&nbsp;</td>
															<td><%= @reproductive_health_output_three2.ad_camp_key_mes_1  %></td>
															<td><%= @reproductive_health_output_three2.ad_camp_key_channel_1  %></td>
															<td><%= @reproductive_health_output_three.ad_camp_key_mes_fig_1  %></td>
														</tr>

														<tr>
															<td>&nbsp;</td>
															<td><%= @reproductive_health_output_three2.ad_camp_key_mes_2  %></td>
															<td><%= @reproductive_health_output_three2.ad_camp_key_channel_2  %></td>
															<td><%= @reproductive_health_output_three.ad_camp_key_mes_fig_2  %></td>
														</tr>

														<tr>
															<td>&nbsp;</td>
															<td><%= @reproductive_health_output_three2.ad_camp_key_mes_3  %></td>
															<td><%= @reproductive_health_output_three2.ad_camp_key_channel_3  %></td>
															<td><%= @reproductive_health_output_three.ad_camp_key_mes_fig_3  %></td>
														</tr>
														<tr>
															<td>&nbsp;</td>
															<td><%= @reproductive_health_output_three2.ad_camp_key_mes_4  %></td>
															<td><%= @reproductive_health_output_three2.ad_camp_key_channel_4  %></td>
															<td><%= @reproductive_health_output_three.ad_camp_key_mes_fig_4  %></td>
														</tr>

														<tr>
															<td>&nbsp;</td>
															<td><%= @reproductive_health_output_three2.ad_camp_key_mes_5  %></td>
															<td><%= @reproductive_health_output_three2.ad_camp_key_channel_5  %></td>
															<td><%= @reproductive_health_output_three.ad_camp_key_mes_fig_5  %></td>
														</tr>

														<tr>
															<td>&nbsp;</td>
															<td><%= @reproductive_health_output_three2.ad_camp_key_mes_6  %></td>
															<td><%= @reproductive_health_output_three2.ad_camp_key_channel_6  %></td>
															<td><%= @reproductive_health_output_three.ad_camp_key_mes_fig_6  %></td>
														</tr>
<tr>
															<td>&nbsp;</td>
															<td><%= @reproductive_health_output_three2.ad_camp_key_mes_7  %></td>
															<td><%= @reproductive_health_output_three2.ad_camp_key_channel_7  %></td>
															<td><%= @reproductive_health_output_three.ad_camp_key_mes_fig_7  %></td>
														</tr>

														<tr>
															<td>&nbsp;</td>
															<td><%= @reproductive_health_output_three2.ad_camp_key_mes_8  %></td>
															<td><%= @reproductive_health_output_three2.ad_camp_key_channel_8  %></td>
															<td><%= @reproductive_health_output_three.ad_camp_key_mes_fig_8  %></td>
														</tr>

														<tr>
															<td>&nbsp;</td>
															<td><%= @reproductive_health_output_three2.ad_camp_key_mes_9  %></td>
															<td><%= @reproductive_health_output_three2.ad_camp_key_channel_9  %></td>
															<td><%= @reproductive_health_output_three.ad_camp_key_mes_fig_9  %></td>
														</tr>
<tr>
															<td>&nbsp;</td>
															<td><%= @reproductive_health_output_three2.ad_camp_key_mes_10  %></td>
															<td><%= @reproductive_health_output_three2.ad_camp_key_channel_10  %></td>
															<td><%= @reproductive_health_output_three.ad_camp_key_mes_fig_10  %></td>
														</tr>

														<tr>
															<td>&nbsp;</td>
															<td><%= @reproductive_health_output_three2.ad_camp_key_mes_11  %></td>
															<td><%= @reproductive_health_output_three2.ad_camp_key_channel_11  %></td>
															<td><%= @reproductive_health_output_three.ad_camp_key_mes_fig_11  %></td>
														</tr>

														<tr>
															<td>&nbsp;</td>
															<td><%= @reproductive_health_output_three2.ad_camp_key_mes_12  %></td>
															<td><%= @reproductive_health_output_three2.ad_camp_key_channel_12  %></td>
															<td><%= @reproductive_health_output_three.ad_camp_key_mes_fig_12  %></td>
														</tr>





														<tr>
														<td>
															&nbsp;
														</td>
														<td colspan="2">Special event days (SRHR in schools)</td>
														<td><%= @reproductive_health_output_three.special_event_days  %></td>
														</tr>

														<tr>
														<td>
															&nbsp;
														</td>
														<td colspan="2">Management of youth clubs training (patrons)</td>
														<td><%= @reproductive_health_output_three.management_of_youth_clubs  %></td>
														</tr>

														<tr>
														<td>
															&nbsp;
														</td>
														<td colspan="2">IEC materails distributed</td>
														<td>&nbsp;</td>
														</tr>




<tr>
														<td>
															&nbsp;
														</td>
														<td colspan="2">Posters</td>
														<td><%= @reproductive_health_output_three.iec_posters  %></td>
														</tr>


														<tr>
														<td>
															&nbsp;
														</td>
														<td colspan="2">10</td>
														<td><%= @reproductive_health_output_three.iec_10  %></td>
														</tr>

														<tr>
														<td>
															&nbsp;
														</td>
														<td colspan="2">Flyers</td>
														<td><%= @reproductive_health_output_three.iec_flyers  %></td>
														</tr>

														<tr>
														<td>
															&nbsp;
														</td>
														<td colspan="2">T-shirts</td>
														<td><%= @reproductive_health_output_three.iec_tshirts  %></td>
														</tr>

														<tr>
														<td>
															&nbsp;
														</td>
														<td colspan="2">10121022</td>
														<td><%= @reproductive_health_output_three.iec_10121022  %></td>
														</tr>
<tr>
	<td colspan="4">&nbsp;</td>
</tr>


<tr>
														<td>
															&nbsp;
														</td>
														<td colspan="2">Jingles produced</td>
														<td><%= @reproductive_health_output_three.jingles  %></td>
														</tr>


														<tr>
														<td>
															&nbsp;
														</td>
														<td colspan="2">Number of times jingles aired</td>
														<td><%= @reproductive_health_output_three.jingles_aired  %></td>
														</tr>

														<tr>
														<td>
															&nbsp;
														</td>
														<td colspan="2">Training of faithful houses (couples)</td>
														<td><%= @reproductive_health_output_three.couples  %></td>
														</tr>

														<tr>
														<td>
															&nbsp;
														</td>
														<td colspan="2">Training of church bassed counsellors</td>
														<td><%= @reproductive_health_output_three.counselors  %></td>
														</tr>

														<tr>
														<td>
															&nbsp;
														</td>
														<td colspan="2">Youth parliament</td>
														<td><%= @reproductive_health_output_three.parliament  %></td>
														</tr>
														

														




				                




				              </tbody>
				            </table>
		  				</div>




								
									</fieldset>

			  				</div>
			  			</div>
	  				




						<br /><br />
					</div>
		  		</div>
		  	</div>

		  </div>
		</div>
    </div>

    <footer>
         <div class="container">
         
            <div class="copy text-center">
               Copyright 2015 <a href='#'>Compu Networks</a>
            </div>
            
         </div>
      </footer>