<script>
        
</script>	
    <div class="page-content">
    	<div class="row">
		  <div class="col-md-2">
		  	<div class="sidebar content-box" style="display: block;">
                <ul class="nav">
                    <!-- Main menu -->
                    <li class="current"><a href="home/index"><i class="glyphicon glyphicon-home"></i>Home</a></li>

                    <li class="dropdown">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                           <i class="glyphicon glyphicon-tasks"></i> Data Entry <b class="caret"></b>
                         </a>
                         <!-- Sub menu -->
                         <ul>
                          <li> <%= link_to 'Resource and Finance', forms_new_path %></li>
                           <li><%= link_to 'Gender Justice', form_gender_index_path %></li>
                           <li><%= link_to 'Health', form_health_index_path %></li>
  			   <li><%= link_to 'Monitoring and Evaluation', forms_new_path %></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                           <i class="glyphicon glyphicon-stats"></i> Reports <b class="caret"></b>
                         </a>
                         <!-- Sub menu -->
                         <ul>
                          <li> <%= link_to 'Resource and Finance', forms_new_path %></li>
                           <li><%= link_to 'Gender Justice', forms_new_path %></li>
                           <li><%= link_to 'Health', report_health_index_path %></li>
  			   <li><%= link_to 'Monitoring and Evaluation', forms_new_path %></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                           <i class="glyphicon glyphicon-download-alt"></i> Documents <b class="caret"></b>
                         </a>
                         <!-- Sub menu -->
                         <ul>
                          <li> <%= link_to 'View', forms_new_path %></li>
                           <li><%= link_to 'Upload', forms_new_path %></li>
                        </ul>
                    </li>


                    <li><a href="tables.html"><i class="glyphicon glyphicon-list"></i>Partners</a></li>
                </ul>
             </div>
		  </div>
		  <div class="col-md-10">
		  	<div class="row">

		  	</div>

		  	<div class="row">
		  		<div class="col-md-12 panel-warning">
		  			<div class="content-box-header panel-heading">
	  					<div class="panel-title ">Improved Health Training - Report</div>
						
						<div class="panel-options">
							<a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
							<a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
						</div>
		  			</div>
		  			<div class="content-box-large box-with-header">
			  			



<!--form-->
	
	  					<div class="content-box-large">
			  				
			  				<div class="panel-body">



									<fieldset>






		  				<div class="panel-body">





		  					<table class="table table-bordered">
				              <tbody>
				                
				                <tr>
															<td colspan = "2">&nbsp;</td>
														</tr>
														
														
				                

<tr>
															<td>Getting 100% pass rate in licensure examinations</td>
															<td colspan="2">
															<%= @hundred_percent %>
															</td>
														</tr>
														<tr>
															<td>Functional management Information systems </td>
															<td>System</td>
															<td>Number</td>
														</tr>
														<%@systems.each do |k,v| %>
														<tr>
															<td>&nbsp</td>
															<td><%= k%></td>
															<td><%= v.inject(:+)%></td>
														</tr>
														<% end %>

														
														<tr>
															<td colspan = "3">&nbsp;</td>
														</tr>
														<tr>
															<td>Number and type of teaching and learning materials acquired</td>
															<td>Material</td>

															<td>Number</td>
														</tr>
														<%@teaching_materials.each do |k,v| %>
														<tr>
															<td>&nbsp</td>
															<td><%= k%></td>
															<td><%= v.inject(:+)%></td>
														</tr>
														<% end %>

														<tr>
															<td>Number of participants whose capacity has been built (M,F)</td>
															<td>Type of capacity</td>
															<td>Number</td>
														</tr>

														<%@capacities.each do |k,v| %>
														<tr>
															<td>&nbsp</td>
															<td><%= k%></td>
															<td><%= v.inject(:+)%></td>
														</tr>
														<% end %>

														<tr>
															<td> Level of sastifaction in Knowledge, skills & attitudes acquired
</td>
															<td colspan="2"><%= @trn_satisfaction_level %></td>
														</tr>
														<tr>
															<td>Number and type of course outlines developed </td>
															<td>Type of course outline</td>
															<td>Number</td>
														</tr>

														<%@outlines.each do |k,v| %>
														<tr>
															<td>&nbsp</td>
															<td><%= k%></td>
															<td><%= v.inject(:+)%></td>
														</tr>
														<%end%>														
													
															
														<tr>
															<td colspan = "3">&nbsp;</td>
														</tr>
														<tr>
															<td>BSc RM curr developed</td>
															<td colspan="2"><%= @report.trn_BSC_RM_Curr%></td>
														</tr>
<tr>
														<td>Clinical assessment tools developed</td>
															<td>Assesment tool</td>
															<td>Number</td>
														</tr>

														<%@asses_tools.each do |k,v| %>
														<tr>
															<td>&nbsp</td>
															<td><%= k%></td>
															<td><%= v.inject(:+)%></td>
														</tr>
														<%end%>

														<tr>
															<td colspan = "3">&nbsp;</td>
														</tr>
														<tr>
														<td>Tutor performance tools developed</td>
															<td>Number of tools</td>
															<td>Utilisation</td>
														</tr>
														<td>&nbsp;</td>
															<td><%= @report.trn_tutor_perf_tools %></td>
															<td><%= @trn_tutor_perf_tools_utl %></td>
														</tr>



														<tr>
															<td>Mentoring skills acquired</td>
															<td colspan="2"> <%= @report.trn_mentor_skills%> </td>
														</tr>
														<tr>
															<td>% reduction of unprofessionally behaving student Nurses.</td>
															<td  colspan="2"><%= @trn_reduction_unprof_student %></td>
														</tr>
														
														<tr>
															<td># of tutors inducted to nursing midwifery education standards</td>
															<td  colspan="2"><%= @report.trn_tutor_induct_midwife%></td>
														</tr>
														<tr>
															<td colspan = "3">&nbsp;</td>
														</tr>
														<tr>
															<td>Strategic plans available</td>
															<td  colspan="2"> <%= @trn_strategic_plans %></td>
														</tr>
														<tr>
															<td>Operational plans available</td>
															<td colspan="2">
															<%= @trn_ops_plans %></td>
														</tr>
														
														<tr>
															<td># and type of SOPs developed/reviewed</td>
															<td>Type of SOP</td>
															<td>Number</td>
														</tr>

														<%@sops.each do |k,v| %>
														<tr>
															<td>&nbsp</td>
															<td><%= k%></td>
															<td><%= v.inject(:+)%></td>
														</tr>
														<%end%>
													

														<tr>
															<td>Level of satisfaction Knowledge, skills & attitudes acquired in material, performance & good governaance
</td>
															<td colspan="2"><%= @trn_good_governance %></td>
														</tr>
														

														<tr>
															<td># and type of policies developed/reviewed</td>
															<td>Type of Policy</td>
															<td>Number</td>
														</tr>

														<%@policies.each do |k,v| %>
														<tr>
															<td>&nbsp</td>
															<td><%= k%></td>
															<td><%= v.inject(:+)%></td>
														</tr>
														<%end%>
													


														

														<tr>
															<td>Number of  secondary and primary school students motivated to become nurses and midwives</td>
															<td colspan="2"><%= @report.trn_motivated_pupils%></td>
														</tr>
																<tr>
															<td colspan = "3">&nbsp;</td>
														</tr>
												
														<tr>
															<td># of research studies conducted</td>
															<td  colspan="2"><%= @report.trn_research %></td>
														</tr>
														<tr>
															<td># of tutors participated in conducting research</td>
															<td  colspan="2"><%= @report.trn_research_tut%></td>
														</tr>
														<tr>
															<td colspan = "3">&nbsp;</td>
														</tr>
														<tr>
															<td>Number of network meetings conducted.</td>
															<td colspan="2"><%= @report.trn_ntwk_meetings %></td>
														</tr>
														<tr>
															<td># of MoU signed and functional between college and its teaching hospital</td>
															<td  colspan="2"><%= @report.trn_MOU %></td>
														</tr>
														<tr>
															<td># of joint monitoring visits done</td>
															<td  colspan="2"><%= @report.trn_monitoring %></td>
														</tr>








				              </tbody>
				            </table>
		  				</div>




								
									</fieldset>

			  				</div>
			  			</div>
	  				




						<br /><br />
					</div>
		  		</div>
		  	</div>

		  </div>
		</div>
    </div>

    <footer>
         <div class="container">
         
            <div class="copy text-center">
               Copyright 2015 <a href='#'>Compu Networks</a>
            </div>
            
         </div>
      </footer>