<h3>Programs</h3>
<p><%= link_to 'Health', users_path %> <%= User.count %> registered</p>
<p><%= link_to 'Gender and Justice', users_path %> <%= User.count %> registered</p>
<p><%= link_to 'Economic justice', users_path %> <%= User.count %> registered</p>
