<script type='text/javascript'>

(function()
{
  if( window.localStorage )
  {
    if( !localStorage.getItem( 'firstLoad' ) )
    {
      localStorage[ 'firstLoad' ] = true;
      window.location.reload();
    }  
    else
      localStorage.removeItem( 'firstLoad' );
  }
})();

</script>
		
<script>
			function assignStartDate() {
				document.getElementById("form_health_giz_start_date").value = $("#start_date_picker").val();
			}
			function assignEndDate() {
				document.getElementById("form_health_giz_end_date").value = $("#end_date_picker").val();
			}

		</script>	
		<div class="page-content">
			<div class="row">
				<div class="col-md-2">
				  	<div class="sidebar content-box" style="display: block;">
                  <ul class="nav">
                      <!-- Main menu -->
                      
                      <li><%= link_to 'Home', home_index_path %></li>

                      <li class="dropdown">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                              Data Entry <b class="caret"></b>
                           </a>
                           <!-- Sub menu -->
                           <ul>
                             <li><a href="#">Resource and Finance</a></li>
                             <li><%= link_to 'Gender Justice', form_gender_index_path %></li>
                             <li><%= link_to 'Health', form_health_index_path %></li>
    			   			 <li><a href="#">Monitoring and Evaluation</a></li>
                          </ul>
                      </li>

                      <li class="dropdown">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                              Reports <b class="caret"></b>
                           </a>
                           <!-- Sub menu -->
                           <ul>
                             <li><a href="#">Resource and Finance</a></li>
                             <li><%= link_to 'Gender Justice', report_gender_index_path %></li>
                             <li><%= link_to 'Health', report_health_index_path %></li>
    			   			 <li><a href="#">Monitoring and Evaluation</a></li>
                          </ul>
                      </li>

                      <li class="dropdown">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                              Documents <b class="caret"></b>
                           </a>
                           <!-- Sub menu -->
                           <ul>
                            <li> <%= link_to 'View', docs_path %></li>
                             <li><%= link_to 'Upload', docs_new_path %></li>
                          </ul>
                      </li>

<!--
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                              Partners <b class="caret"></b>
                          </a>
                           <ul>
                            <li> <%= link_to 'Facilities', facilities_path %></li>
                             <li><%= link_to 'Institutions', forms_new_path %></li>
                          </ul>
                      </li>
            --> 
                  </ul>
               </div>
				</div>
				<div class="col-md-10">
					<div class="row">

					</div>

					<div class="row">
						<div class="col-md-12 panel-warning">
							<div class="content-box-header panel-heading">
								<div class="panel-title ">Data Entry - GIZ</div>
								
								<div class="panel-options">
									<a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
									<a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
								</div>
							</div>
							<div class="content-box-large box-with-header">
								



								<!--form-->
								
								<div class="content-box-large">
									
									<div class="panel-body">





										<%= form_for :form_health_giz, :url => { :action => :create }	 do |f| %>
										

										<!--form action="/forms/create" method="post"-->
										<fieldset>







											<div class="panel-body">





												<%= f.hidden_field :start_date, :value => "1900-01-01"%>
												<%= f.hidden_field :end_date, :value => "2013-12-31" %>

												<table class="table table-bordered">
													<thead>
														<tr>
															<th>Indicator</th>
															<th>Value</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>Start Date</td>
															<td><div class="bfh-datepicker" data-format="y-m-d" data-date="today" id="start_date_picker" onchange="assignStartDate()"></div></td>
														</tr>
														<tr>
															<td>End Date</td>
															<td><div class="bfh-datepicker" data-format="y-m-d" data-date="today" id="end_date_picker" onchange="assignEndDate()"></div></td>
														</tr>
														

														<tr>
															<td colspan = "2">&nbsp;</td>
														</tr>
														<tr>
															<td># of interventions done by MCCI in promoting child rights in the private sector.</td>
															<td><%= f.text_field :giz_interv_mcci_child_rights, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td># of interventions identified for investments in adolescent SRHR</td>
															<td><%= f.text_field :giz_interv_adol_srhr, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td># of teachers sensitized and are scaling up School SRHR interventions.</td>
															<td><%= f.text_field :giz_teach_srhr, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td># of school authorities who have been mobilized in SRHR, GBV and HIV issues.</td>
															<td><%= f.text_field :giz_sch_auth_srhr, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td># of claimholders who have knowledge of 3 key Child protection messages</td>
															<td><%= f.text_field :giz_claim_holders, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td># of policy and legal instruments strengthen child protection</td>
															<td><%= f.text_field :giz_legal_ins, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>Number and category of duty bearers with knowlege of Child Protection and SRHR</td>
															<td><%= f.text_field :giz_duty_bear_srhr, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td># of community diologues conducted</td>
															<td><%= f.text_field :giz_comm_diag, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>number of  adolescents in school youth clubs aware  of adolescent HIV, and SRHR and Child Protection</td>
															<td><%= f.text_field :giz_adol_sch_hiv, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td># of mass communication channels disseminating infortmation about adolescents SRHR                                      </td>
															<td><%= f.text_field :giz_comm_chan, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>Number of IEC materials developed</td>
															<td><%= f.text_field :giz_iec_mat, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td># of child protection workers trained and are conducting trainings in Jols and case management.</td>
															<td><%= f.text_field :giz_child_prot_work, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>Communities mobilised and are aware of child protection policies</td>
															<td><%= f.text_field :giz_comm_mobl, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td># of Adolscents enrolled in youth clubs and are aware of their rights through Jol and children corners</td>
															<td><%= f.text_field :giz_adol_youth_clb, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>number of districts  in which implementing stakeholders have a functional targeted HIV prevention treatment service delivery model for adolescents with HIV, most at risk and vulnerable and are woriking as a unit</td>
															<td><%= f.text_field :giz_dist_hiv_prenv, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td># of SRHR open days conducted in six districts</td>
															<td><%= f.text_field :giz_srhr_opn_dys, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>symposium on care ALHIV conducted.</td>
															<td><%= f.text_field :giz_sympo_alhiv, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td># of teen Clubs for ALHIV established and functional</td>
															<td><%= f.text_field :giz_teen_club_alhiv, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td># of nutritional assesments for adolescents conducted by community nurses </td>
															<td><%= f.text_field :giz_nut_asses, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td># of adolescents assesssed nutrtionally by community nurses.</td>
															<td><%= f.text_field :giz_adol_asses, autofocus: true, class: "form-control" %></td>
														</tr>

														
														<tr>
															<td colspan = "2">&nbsp;</td>
														</tr>
														
													</tbody>
												</table>
											</div>




											
										</fieldset>
										<div>
											
											<%= submit_tag "Finish", class:"btn btn-primary" %>
										</div>
										<!--/form-->
										<% end %>

									</div>
								</div>
								




								<br /><br />
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<footer>
			<div class="container">
				
				<div class="copy text-center">
					Copyright 2015 <a href='#'>Compu Networks</a>
				</div>
				
			</div>
		</footer>

