		<script>
			function assignStartDate() {
				document.getElementById("form_health_mnh_start_date").value = $("#start_date_picker").val();
			}
			function assignEndDate() {
				document.getElementById("form_health_mnh_end_date").value = $("#end_date_picker").val();
			}
			function assignFacility() {
				var output = $("#selBox").val();
				document.getElementById("form_health_mnh_facility").value = $("#facility_picker").val();
			}
		</script>	
		<div class="page-content">
			<div class="row">
				<div class="col-md-2">
					<div class="sidebar content-box" style="display: block;">
						<ul class="nav">
							<!-- Main menu -->
							<li class="current"><a href="home/index"><i class="glyphicon glyphicon-home"></i>Home</a></li>

							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<i class="glyphicon glyphicon-tasks"></i> Data Entry <b class="caret"></b>
								</a>
								<!-- Sub menu -->
								<ul>
									<li> <%= link_to 'Resource and Finance', forms_new_path %></li>
									<li><%= link_to 'Gender Justice', form_gender_index_path %></li>
									<li><%= link_to 'Health', form_health_index_path %></li>
									<li><%= link_to 'Monitoring and Evaluation', forms_new_path %></li>
								</ul>
							</li>

							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<i class="glyphicon glyphicon-stats"></i> Reports <b class="caret"></b>
								</a>
								<!-- Sub menu -->
								<ul>
									<li> <%= link_to 'Resource and Finance', forms_new_path %></li>
									<li><%= link_to 'Gender Justice', forms_new_path %></li>
									<li><%= link_to 'Health', report_health_index_path %></li>
									<li><%= link_to 'Monitoring and Evaluation', forms_new_path %></li>
								</ul>
							</li>

							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<i class="glyphicon glyphicon-download-alt"></i> Documents <b class="caret"></b>
								</a>
								<!-- Sub menu -->
								<ul>
									<li> <%= link_to 'View', forms_new_path %></li>
									<li><%= link_to 'Upload', forms_new_path %></li>
								</ul>
							</li>


							<li><a href="tables.html"><i class="glyphicon glyphicon-list"></i>Partners</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-10">
					<div class="row">

					</div>

					<div class="row">
						<div class="col-md-12 panel-warning">
							<div class="content-box-header panel-heading">
								<div class="panel-title ">Data Entry - MNH Activities</div>
								
								<div class="panel-options">
									<a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
									<a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
								</div>
							</div>
							<div class="content-box-large box-with-header">
								



								<!--form-->
								
								<div class="content-box-large">
									
									<div class="panel-body">





										<%= form_for :form_health_mnh, :url => { :action => :create }	 do |f| %>
										

										<!--form action="/forms/create" method="post"-->
										<fieldset>







											<div class="panel-body">





												<%= f.hidden_field :start_date, :value => "1900-01-01"%>
												<%= f.hidden_field :end_date, :value => "2013-12-31" %>
												<%= f.hidden_field :facility, :value => 100%>



												<table class="table table-bordered">
													<thead>
														<tr>
															<th>Indicator</th>
															<th>Value</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>Start Date</td>
															<td><div class="bfh-datepicker" data-format="y-m-d" data-date="today" id="start_date_picker" onchange="assignStartDate()"></div></td>
														</tr>
														<tr>
															<td>End Date</td>
															<td><div class="bfh-datepicker" data-format="y-m-d" data-date="today" id="end_date_picker" onchange="assignEndDate()"></div></td>
														</tr>
														<tr>
															<td>Facility</td>
															<td>
																	
				  						
				  						
				  							<div class="bfh-selectbox" data-name="facility" data-filter="true" id="facility_picker" onchange="assignFacility()">
				  							<%@facilities.each do |f| %>
											  <div data-value=<%=f.id%>><%=f.facility_name%></div>
											  <%end%>
								
											</div>
				  				
															</td>
														</tr>





														<tr>
															<td colspan = "2"><b>Service delivery <br> Number of deliveries conducted</b></td>
														</tr>
														<tr>
															<td>SVD</td>
															<td><%= f.text_field :service_del_svd, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>V/E</td>
															<td><%= f.text_field :service_del_ve, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>Maternal Deaths</td>
															<td><%= f.text_field :service_del_mart_death, autofocus: true, class: "form-control" %></td>
														</tr>

														<tr>
															<td>Referrals</td>
															<td><%= f.text_field :service_del_ref, autofocus: true, class: "form-control" %></td>
														</tr>
													
														<tr>
															<td>Pre/eclampsia</td>
															<td><%= f.text_field :service_del_ref_eclampsia, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>Obstructed labor/ prolonged labour</td>
															<td><%= f.text_field :service_del_ref_labour, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>APH/PPH</td>
															<td><%= f.text_field :service_del_ref_aph, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>CS</td>
															<td><%= f.text_field :service_del_ref_cs, autofocus: true, class: "form-control" %></td>
														</tr>
													
														<td>Breech</td>
															<td><%= f.text_field :service_del_ref_breech, autofocus: true, class: "form-control" %></td>
														</tr>
														<td>Twin deliveries</td>
															<td><%= f.text_field :service_del_ref_twins, autofocus: true, class: "form-control" %></td>
														</tr>


														<tr>
															<td colspan = "2"><b>Number of neonates<br> Live babies</b></td>
														</tr>
														<tr>
															<td>Male</td>
															<td><%= f.text_field :neonates_male, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>Females</td>
															<td><%= f.text_field :neonates_female, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td colspan = "2"><b>NNDs</b></td>
														</tr>
														<tr>
															<td>Male</td>
															<td><%= f.text_field :nnd_male, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>Females</td>
															<td><%= f.text_field :nnd_female, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>Referrals</td>
															<td><%= f.text_field :nnd_ref, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>FSB</td>
															<td><%= f.text_field :nnd_fsb, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>MSB</td>
															<td><%= f.text_field :nnd_msb, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>Premature</td>
															<td><%= f.text_field :nnd_premature, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>LBW</td>
															<td><%= f.text_field :nnd_lbw, autofocus: true, class: "form-control" %></td>
														</tr>
														

														<tr>
															<td colspan = "2">&nbsp;</td>
														</tr>

														<tr>
															<td colspan = "2"><b>Conduct outreach clinics</b></td>
														</tr>
														<tr>
															<td>Pregnant mothers</td>
															<td><%= f.text_field :outreach_preg_mother, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>Initial</td>
															<td><%= f.text_field :outreach_initial, autofocus: true, class: "form-control" %></td>
														</tr>

														<tr>
															<td colspan = "2"><b>Subsequent</b></td>
														</tr>

														<tr>
															<td>2<sup>nd</sup></td>
															<td><%= f.text_field :outreach_2nd, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>3<sup>rd</sup></td>
															<td><%= f.text_field :outreach_3rd, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>4<sup>th</sup></td>
															<td><%= f.text_field :outreach_4th, autofocus: true, class: "form-control" %></td>
														</tr>



														<tr>
															<td colspan = "2"><b>Underfives</b></td>
														</tr>
														<tr>
															<td>Male</td>
															<td><%= f.text_field :outreach_male, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>Female</td>
															<td><%= f.text_field :outreach_female, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>Initial</td>
															<td><%= f.text_field :outreach_underfive_initial, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>Subsequent</td>
															<td><%= f.text_field :outreach_underfive_subsequent, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td colspan = "2"><b>Conduct community mobilization and awareness campaigns on male involvement in MNH issues</b></td>
														</tr>
														<tr>
															<td>Number of men participating</td>
															<td><%= f.text_field :mobilization_men, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td colspan = "2"><b>Collaboration between CHAM and Govt</b></td>
														</tr>
														<tr>
															<td>Number of service level agreement signed</td>
															<td><%= f.text_field :slas, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>Number of facilities involved in planning with districts</td>
															<td><%= f.text_field :facility_planning, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td colspan = "2"><b>Capacity building <br>Infection prevention</b></td>
														</tr>
														<tr>
															<td>Male</td>
															<td><%= f.text_field :inf_prev_male, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>Female</td>
															<td><%= f.text_field :inf_prev_female, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td colspan = "2"><b>Exclusive Breast feeding</b></td>
														</tr>
														<tr>
															<td>Male</td>
															<td><%= f.text_field :exl_bf_male, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>Female</td>
															<td><%= f.text_field :exl_bf_female, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td colspan = "2"><b>HAC Training</b></td>
														</tr>
														<tr>
															<td>Male</td>
															<td><%= f.text_field :hac_train_male, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>Female</td>
															<td><%= f.text_field :hac_train_female, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td colspan = "2"><b>Menu trainings</b></td>
														</tr>
														<tr>
															<td>Male</td>
															<td><%= f.text_field :menu_male, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>Female</td>
															<td><%= f.text_field :menu_female, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td colspan = "2"><b>Annual nutrition event</b></td>
														</tr>
														<tr>
															<td>Male</td>
															<td><%= f.text_field :nutri_male, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>Female</td>
															<td><%= f.text_field :nutri_female, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td colspan = "2"><b>Community committees <br>Transport committee</b></td>
														</tr>
														<tr>
															<td>Male</td>
															<td><%= f.text_field :tpt_comm_male, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>Female</td>
															<td><%= f.text_field :tpt_comm_female, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td colspan = "2"><b>Safemotherhood committee</b></td>
														</tr>
														<tr>
															<td>Male</td>
															<td><%= f.text_field :sf_mothood_male, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>Female</td>
															<td><%= f.text_field :sf_mothood_female, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td colspan = "2"><b>HAC</b></td>
														</tr>
														<tr>
															<td>Male</td>
															<td><%= f.text_field :hac_male, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>Female</td>
															<td><%= f.text_field :hac_female, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td colspan = "2"><b>Meetings<br>Number of cluster meetings</b></td>
														</tr>
														<tr>
															<td>Male</td>
															<td><%= f.text_field :cluster_male, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>Female</td>
															<td><%= f.text_field :cluster_female, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td colspan = "2"><b>Number of DEC meetings</b></td>
														</tr>
														<tr>
															<td>Male</td>
															<td><%= f.text_field :dec_male, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>Female</td>
															<td><%= f.text_field :dec_female, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td colspan = "2"><b>Number of skilled staff </b></td>
														</tr>
														<tr>
															<td>Doctors</td>
															<td><%= f.text_field :skilled_doc, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>Clinicians</td>
															<td><%= f.text_field :skilled_cli, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>Nurse Midwives</td>
															<td><%= f.text_field :skilled_nur, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td colspan = "2"><b>Number of support staff</b></td>
														</tr>
														<tr>
															<td>HSAs</td>
															<td><%= f.text_field :support_hsa, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>PA</td>
															<td><%= f.text_field :support_PA, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>HCW</td>
															<td><%= f.text_field :support_HCW, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>Guard</td>
															<td><%= f.text_field :support_guard, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>Drivers</td>
															<td><%= f.text_field :support_drv, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td colspan = "2"><b>Maitenance</b></td>
														</tr>
														<tr>
															<td>Vehicles</td>
															<td><%#= f.text_field :maintenance_veh, autofocus: true, class: "form-control" %>
															<%= f.select :maintenance_veh, options_for_select( ["Yes","No"]),autofocus: true, class: "form-control" %>
															</td>
														</tr>
														<tr>
															<td>Motorcycle</td>
															<td><%= f.select :maintenance_mcycle, options_for_select( ["Yes","No"]), autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>Computer</td>
															<td><%= f.select :maintenance_comp, options_for_select( ["Yes","No"]) ,autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>Boat</td>
															<td><%= f.select :maintenance_boat, options_for_select( ["Yes","No"]),autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>Radio</td>
															<td><%= f.select :maintenance_rad, options_for_select( ["Yes","No"]),autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td colspan = "2"><b>Water availability</b></td>
														</tr>
														<tr>
															<td>Running water</td>
															<td><%= f.select :water_run, options_for_select( ["Yes","No"]),autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>Borehole</td>
															<td><%= f.select :water_borehole, options_for_select( ["Yes","No"]),autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>Electricity</td>
															<td><%= f.select :water_elec, options_for_select( ["Yes","No"]),autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>Solar</td>
															<td><%= f.select :water_solar, options_for_select( ["Yes","No"]),autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>Torches</td>
															<td><%= f.select :water_torch, options_for_select( ["Yes","No"]),autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td colspan = "2">&nbsp;</td>
														</tr>
														<tr>
															<td>Demonstration Garden</td>
															<td><%= f.text_field :demo_garden, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>Hearths</td>
															<td><%= f.text_field :hearth, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>Waiting home for pregnant Mothers</td>
															<td><%= f.select :preg_shelter, options_for_select( ["Yes","No"]),autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td colspan = "2"><b>Monitoring visits</b></td>
														</tr>
														<tr>
															<td>DHOs</td>
															<td><%= f.text_field :sup_DHO, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>Health Coordinators</td>
															<td><%= f.text_field :sup_coord, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>Focal persons</td>
															<td><%= f.text_field :sup_focal, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>NCA</td>
															<td><%= f.text_field :sup_NCA, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>Zone Officers</td>
															<td><%= f.text_field :sup_zone, autofocus: true, class: "form-control" %></td>
														</tr>
													</tbody>
												</table>
											</div>




											
										</fieldset>
										<div>
											
											<%= submit_tag "Finish", class:"btn btn-primary" %>
										</div>
										<!--/form-->
										<% end %>

									</div>
								</div>
								




								<br /><br />
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<footer>
			<div class="container">
				
				<div class="copy text-center">
					Copyright 2015 <a href='#'>Compu Networks</a>
				</div>
				
			</div>
		</footer>

