<script type='text/javascript'>

(function()
{
  if( window.localStorage )
  {
    if( !localStorage.getItem( 'firstLoad' ) )
    {
      localStorage[ 'firstLoad' ] = true;
      window.location.reload();
    }  
    else
      localStorage.removeItem( 'firstLoad' );
  }
})();

</script>
		
<script>
			function assignStartDate() {
				document.getElementById("form_health_reproductive_health_output_three_start_date").value = $("#start_date_picker").val();
			}
			function assignEndDate() {
				document.getElementById("form_health_reproductive_health_output_three_end_date").value = $("#end_date_picker").val();
			}

		</script>	
		<div class="page-content">
			<div class="row">
				<div class="col-md-2">
					<div class="sidebar content-box" style="display: block;">
						<ul class="nav">
							<!-- Main menu -->
							<li class="current"><a href="home/index"><i class="glyphicon glyphicon-home"></i>Home</a></li>

							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<i class="glyphicon glyphicon-tasks"></i> Data Entry <b class="caret"></b>
								</a>
								<!-- Sub menu -->
								<ul>
									<li> <%= link_to 'Resource and Finance', forms_new_path %></li>
									<li><%= link_to 'Gender Justice', form_gender_index_path %></li>
									<li><%= link_to 'Health', form_health_index_path %></li>
									<li><%= link_to 'Monitoring and Evaluation', forms_new_path %></li>
								</ul>
							</li>

							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<i class="glyphicon glyphicon-stats"></i> Reports <b class="caret"></b>
								</a>
								<!-- Sub menu -->
								<ul>
									<li> <%= link_to 'Resource and Finance', forms_new_path %></li>
									<li><%= link_to 'Gender Justice', forms_new_path %></li>
									<li><%= link_to 'Health', report_health_index_path %></li>
									<li><%= link_to 'Monitoring and Evaluation', forms_new_path %></li>
								</ul>
							</li>

							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<i class="glyphicon glyphicon-download-alt"></i> Documents <b class="caret"></b>
								</a>
								<!-- Sub menu -->
								<ul>
									<li> <%= link_to 'View', forms_new_path %></li>
									<li><%= link_to 'Upload', forms_new_path %></li>
								</ul>
							</li>


							<li><a href="tables.html"><i class="glyphicon glyphicon-list"></i>Partners</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-10">
					<div class="row">

					</div>

					<div class="row">
						<div class="col-md-12 panel-warning">
							<div class="content-box-header panel-heading">
								<div class="panel-title ">Data Entry - Reproductive Health</div>
								
								<div class="panel-options">
									<a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
									<a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
								</div>
							</div>
							<div class="content-box-large box-with-header">
								



								<!--form-->
								
								<div class="content-box-large">
									
									<div class="panel-body">





										<%= form_for :form_health_reproductive_health_output_three, :url => { :action => :create }	 do |f| %>
										

										<!--form action="/forms/create" method="post"-->
										<fieldset>







											<div class="panel-body">





												<%= f.hidden_field :start_date, :value => "1900-01-01"%>
												<%= f.hidden_field :end_date, :value => "2013-12-31" %>
												



												<table class="table table-bordered">
													<thead>
														<tr>
															<th colspan="3">Indicator</th>
															<th>Value</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td colspan="3">Start Date</td>
															<td><div class="bfh-datepicker" data-format="y-m-d" data-date="today" id="start_date_picker" onchange="assignStartDate()"></div></td>
														</tr>
														<tr>
															<td colspan="3">End Date</td>
															<td><div class="bfh-datepicker" data-format="y-m-d" data-date="today" id="end_date_picker" onchange="assignEndDate()"></div></td>
														</tr>
														

														<tr>
															<td colspan = "4">&nbsp;</td>
														</tr>


														<tr>
														<td>Number of people reached with SRHR BCC and advocacy messages disaggregated by channel and key message
														</td> 
														<td colspan="3">&nbsp;</td>
														</tr>
														<tr>
															<td>&nbsp;</td>
															<td colspan="2">Sensitization campaigns</td>
															<td>&nbsp;</td>
														</tr>
														<tr>
															<td>&nbsp;</td>
															<td>Key message</td>
															<td>Channel</td>
															<td>&nbsp;</td>
														</tr>

														<tr>
															<td>&nbsp;</td>
															<td><%= f.text_field :sens_camp_key_mes_1, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :sens_camp_channel_1, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :sens_camp_key_mes_fig_1, autofocus: true, class: "form-control" %></td>
														</tr>

														<tr>
															<td>&nbsp;</td>
															<td><%= f.text_field :sens_camp_key_mes_2, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :sens_camp_channel_2, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :sens_camp_key_mes_fig_2, autofocus: true, class: "form-control" %></td>
														</tr>

														<tr>
															<td>&nbsp;</td>
															<td><%= f.text_field :sens_camp_key_mes_3, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :sens_camp_channel_3, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :sens_camp_key_mes_fig_3, autofocus: true, class: "form-control" %></td>
														</tr>

														<tr>
															<td>&nbsp;</td>
															<td><%= f.text_field :sens_camp_key_mes_4, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :sens_camp_channel_4, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :sens_camp_key_mes_fig_4, autofocus: true, class: "form-control" %></td>
														</tr>

														<tr>
															<td>&nbsp;</td>
															<td><%= f.text_field :sens_camp_key_mes_5, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :sens_camp_channel_5, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :sens_camp_key_mes_fig_5, autofocus: true, class: "form-control" %></td>
														</tr>

														<tr>
															<td>&nbsp;</td>
															<td><%= f.text_field :sens_camp_key_mes_6, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :sens_camp_channel_6, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :sens_camp_key_mes_fig_6, autofocus: true, class: "form-control" %></td>
														</tr>

														<tr>
															<td>&nbsp;</td>
															<td><%= f.text_field :sens_camp_key_mes_7, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :sens_camp_channel_7, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :sens_camp_key_mes_fig_7, autofocus: true, class: "form-control" %></td>
														</tr>

														<tr>
															<td>&nbsp;</td>
															<td><%= f.text_field :sens_camp_key_mes_8, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :sens_camp_channel_8, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :sens_camp_key_mes_fig_8, autofocus: true, class: "form-control" %></td>
														</tr>

														<tr>
															<td>&nbsp;</td>
															<td><%= f.text_field :sens_camp_key_mes_9, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :sens_camp_channel_9, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :sens_camp_key_mes_fig_9, autofocus: true, class: "form-control" %></td>
														</tr>


														<tr>
															<td>&nbsp;</td>
															<td colspan="2">Advocacy campaigns</td>
															<td>&nbsp;</td>
														</tr>
														<tr>
															<td>&nbsp;</td>
															<td>Key message</td>
															<td>Channel</td>
															<td>&nbsp;</td>
														</tr>



														<tr>
															<td>&nbsp;</td>
															<td><%= f.text_field :ad_camp_key_mes_1, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :ad_camp_key_channel_1, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :ad_camp_key_mes_fig_1, autofocus: true, class: "form-control" %></td>
														</tr>

														<tr>
															<td>&nbsp;</td>
															<td><%= f.text_field :ad_camp_key_mes_2, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :ad_camp_key_channel_2, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :ad_camp_key_mes_fig_2, autofocus: true, class: "form-control" %></td>
														</tr>

														<tr>
															<td>&nbsp;</td>
															<td><%= f.text_field :ad_camp_key_mes_3, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :ad_camp_key_channel_3, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :ad_camp_key_mes_fig_3, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>&nbsp;</td>
															<td><%= f.text_field :ad_camp_key_mes_4, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :ad_camp_key_channel_4, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :ad_camp_key_mes_fig_4, autofocus: true, class: "form-control" %></td>
														</tr>

														<tr>
															<td>&nbsp;</td>
															<td><%= f.text_field :ad_camp_key_mes_5, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :ad_camp_key_channel_5, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :ad_camp_key_mes_fig_5, autofocus: true, class: "form-control" %></td>
														</tr>

														<tr>
															<td>&nbsp;</td>
															<td><%= f.text_field :ad_camp_key_mes_6, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :ad_camp_key_channel_6, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :ad_camp_key_mes_fig_6, autofocus: true, class: "form-control" %></td>
														</tr>
<tr>
															<td>&nbsp;</td>
															<td><%= f.text_field :ad_camp_key_mes_7, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :ad_camp_key_channel_7, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :ad_camp_key_mes_fig_7, autofocus: true, class: "form-control" %></td>
														</tr>

														<tr>
															<td>&nbsp;</td>
															<td><%= f.text_field :ad_camp_key_mes_8, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :ad_camp_key_channel_8, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :ad_camp_key_mes_fig_8, autofocus: true, class: "form-control" %></td>
														</tr>

														<tr>
															<td>&nbsp;</td>
															<td><%= f.text_field :ad_camp_key_mes_9, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :ad_camp_key_channel_9, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :ad_camp_key_mes_fig_9, autofocus: true, class: "form-control" %></td>
														</tr>
<tr>
															<td>&nbsp;</td>
															<td><%= f.text_field :ad_camp_key_mes_10, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :ad_camp_key_channel_10, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :ad_camp_key_mes_fig_10, autofocus: true, class: "form-control" %></td>
														</tr>

														<tr>
															<td>&nbsp;</td>
															<td><%= f.text_field :ad_camp_key_mes_11, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :ad_camp_key_channel_11, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :ad_camp_key_mes_fig_11, autofocus: true, class: "form-control" %></td>
														</tr>

														<tr>
															<td>&nbsp;</td>
															<td><%= f.text_field :ad_camp_key_mes_12, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :ad_camp_key_channel_12, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :ad_camp_key_mes_fig_12, autofocus: true, class: "form-control" %></td>
														</tr>





														<tr>
														<td>
															&nbsp;
														</td>
														<td colspan="2">Special event days (SRHR in schools)</td>
														<td><%= f.text_field :special_event_days, autofocus: true, class: "form-control" %></td>
														</tr>

														<tr>
														<td>
															&nbsp;
														</td>
														<td colspan="2">Management of youth clubs training (patrons)</td>
														<td><%= f.text_field :management_of_youth_clubs, autofocus: true, class: "form-control" %></td>
														</tr>

														<tr>
														<td>
															&nbsp;
														</td>
														<td colspan="2">IEC materails distributed</td>
														<td>&nbsp;</td>
														</tr>




<tr>
														<td>
															&nbsp;
														</td>
														<td colspan="2">Posters</td>
														<td><%= f.text_field :iec_posters, autofocus: true, class: "form-control" %></td>
														</tr>


														<tr>
														<td>
															&nbsp;
														</td>
														<td colspan="2">10</td>
														<td><%= f.text_field :iec_10, autofocus: true, class: "form-control" %></td>
														</tr>

														<tr>
														<td>
															&nbsp;
														</td>
														<td colspan="2">Flyers</td>
														<td><%= f.text_field :iec_flyers, autofocus: true, class: "form-control" %></td>
														</tr>

														<tr>
														<td>
															&nbsp;
														</td>
														<td colspan="2">T-shirts</td>
														<td><%= f.text_field :iec_tshirts, autofocus: true, class: "form-control" %></td>
														</tr>

														<tr>
														<td>
															&nbsp;
														</td>
														<td colspan="2">10121022</td>
														<td><%= f.text_field :iec_10121022, autofocus: true, class: "form-control" %></td>
														</tr>
<tr>
	<td colspan="4">&nbsp;</td>
</tr>


<tr>
														<td>
															&nbsp;
														</td>
														<td colspan="2">Jingles produced</td>
														<td><%= f.text_field :jingles, autofocus: true, class: "form-control" %></td>
														</tr>


														<tr>
														<td>
															&nbsp;
														</td>
														<td colspan="2">Number of times jingles aired</td>
														<td><%= f.text_field :jingles_aired, autofocus: true, class: "form-control" %></td>
														</tr>

														<tr>
														<td>
															&nbsp;
														</td>
														<td colspan="2">Training of faithful houses (couples)</td>
														<td><%= f.text_field :couples, autofocus: true, class: "form-control" %></td>
														</tr>

														<tr>
														<td>
															&nbsp;
														</td>
														<td colspan="2">Training of church bassed counsellors</td>
														<td><%= f.text_field :counselors, autofocus: true, class: "form-control" %></td>
														</tr>

														<tr>
														<td>
															&nbsp;
														</td>
														<td colspan="2">Youth parliament</td>
														<td><%= f.text_field :parliament, autofocus: true, class: "form-control" %></td>
														</tr>
														
													</tbody>
												</table>
											</div>




											
										</fieldset>
										<div>
											
											<%= submit_tag "Finish", class:"btn btn-primary" %>
										</div>
										<!--/form-->
										<% end %>

									</div>
								</div>
								




								<br /><br />
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<footer>
			<div class="container">
				
				<div class="copy text-center">
					Copyright 2015 <a href='#'>Compu Networks</a>
				</div>
				
			</div>
		</footer>

