		<script>
			function assignStartDate() {
				document.getElementById("form_health_training_start_date").value = $("#start_date_picker").val();
			}
			function assignEndDate() {
				document.getElementById("form_health_training_end_date").value = $("#end_date_picker").val();
			}
			function assignCollege() {
				var output = $("#selBox").val();
				document.getElementById("form_health_training_college").value = $("#college_picker").val();
			}

		</script>	
		<div class="page-content">
			<div class="row">
				<div class="col-md-2">
					<div class="sidebar content-box" style="display: block;">
						<ul class="nav">
							<!-- Main menu -->
							<li class="current"><a href="home/index"><i class="glyphicon glyphicon-home"></i>Home</a></li>

							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<i class="glyphicon glyphicon-tasks"></i> Data Entry <b class="caret"></b>
								</a>
								<!-- Sub menu -->
								<ul>
									<li> <%= link_to 'Resource and Finance', forms_new_path %></li>
									<li><%= link_to 'Gender Justice', form_gender_index_path %></li>
									<li><%= link_to 'Health', form_health_index_path %></li>
									<li><%= link_to 'Monitoring and Evaluation', forms_new_path %></li>
								</ul>
							</li>

							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<i class="glyphicon glyphicon-stats"></i> Reports <b class="caret"></b>
								</a>
								<!-- Sub menu -->
								<ul>
									<li> <%= link_to 'Resource and Finance', forms_new_path %></li>
									<li><%= link_to 'Gender Justice', forms_new_path %></li>
									<li><%= link_to 'Health', report_health_index_path %></li>
									<li><%= link_to 'Monitoring and Evaluation', forms_new_path %></li>
								</ul>
							</li>

							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<i class="glyphicon glyphicon-download-alt"></i> Documents <b class="caret"></b>
								</a>
								<!-- Sub menu -->
								<ul>
									<li> <%= link_to 'View', forms_new_path %></li>
									<li><%= link_to 'Upload', forms_new_path %></li>
								</ul>
							</li>


							<li><a href="tables.html"><i class="glyphicon glyphicon-list"></i>Partners</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-10">
					<div class="row">

					</div>

					<div class="row">
						<div class="col-md-12 panel-warning">
							<div class="content-box-header panel-heading">
								<div class="panel-title ">Data Entry - Improved Health Training</div>
								
								<div class="panel-options">
									<a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
									<a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
								</div>
							</div>
							<div class="content-box-large box-with-header">
								



								<!--form-->
								
								<div class="content-box-large">
									
									<div class="panel-body">





										<%= form_for :form_health_training, :url => { :action => :create }	 do |f| %>
										

										<!--form action="/forms/create" method="post"-->
										<fieldset>







											<div class="panel-body">





												<%= f.hidden_field :start_date, :value => "1900-01-01"%>
												<%= f.hidden_field :end_date, :value => "2013-12-31" %>
												



												<table class="table table-bordered">
													<thead>
														<tr>
															<th>Indicator</th>
															<th colspan="2">Value</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>Start Date</td>
															<td colspan="2"><div class="bfh-datepicker" data-format="y-m-d" data-date="today" id="start_date_picker" onchange="assignStartDate()"></div></td>
														</tr>
														<tr>
															<td>End Date</td>
															<td colspan="2"><div class="bfh-datepicker" data-format="y-m-d" data-date="today" id="end_date_picker" onchange="assignEndDate()"></div></td>
														</tr>

															<tr>
															<td>College</td>
															<td colspan="2">
																	
				  						
				  						
				  							<div class="bfh-selectbox" data-name="college" data-filter="true" id="college_picker" onchange="assignCollege()">
				  							<%@colleges.each do |f| %>
											  <div data-value=<%=f.id%>><%=f.college_name%></div>
											  <%end%>
								
											</div>
				  				
															</td>
														</tr>
														

														<tr>
															<td colspan = "3">&nbsp;</td>
														</tr>
														<tr>
															<td>Getting 100% pass rate in licensure examinations</td>
															<td colspan="2">
															<%= f.select :trn_hundred_percent_license, options_for_select( ["Yes","No"]),autofocus: true, class: "form-control" %>
															</td>
														</tr>
														<tr>
															<td>Functional management Information systems </td>
															<td>System</td>
															<td>Number</td>
														</tr>
														<tr>
															<td>&nbsp</td>
															<td><%= f.text_field :trn_management_systems_typ1, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :trn_management_systems_num1, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>&nbsp</td>
															<td><%= f.text_field :trn_management_systems_typ2, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :trn_management_systems_num2, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>&nbsp</td>
															<td><%= f.text_field :trn_management_systems_typ3, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :trn_management_systems_num3, autofocus: true, class: "form-control" %></td>
														</tr>
														
														<tr>
															<td colspan = "3">&nbsp;</td>
														</tr>
														<tr>
															<td>Number and type of teaching and learning materials acquired</td>
															<td>Material</td>

															<td>Number</td>
														</tr>
														<tr>
															<td>&nbsp;</td>
															<td><%= f.text_field :trn_teaching_materials_typ1, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :trn_teaching_materials_num1, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>&nbsp;</td>
															<td><%= f.text_field :trn_teaching_materials_typ2, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :trn_teaching_materials_num2, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>&nbsp;</td>
															<td><%= f.text_field :trn_teaching_materials_typ3, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :trn_teaching_materials_num3, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>Number of participants whose capacity has been built (M,F)</td>
															<td>Type of capacity</td>
															<td>Number</td>
														</tr>
														<tr>
															<td>&nbsp;</td>
															<td><%= f.text_field :trn_capacity_built_typ1, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :trn_capacity_built_num1, autofocus: true, class: "form-control" %></td>
														</tr>
															<tr>
															<td>&nbsp;</td>
															<td><%= f.text_field :trn_capacity_built_typ2, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :trn_capacity_built_num2, autofocus: true, class: "form-control" %></td>
														</tr>
															<tr>
															<td>&nbsp;</td>
															<td><%= f.text_field :trn_capacity_built_typ3, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :trn_capacity_built_num3, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td> Level of sastifaction in Knowledge, skills & attitudes acquired
</td>
															<td colspan="2"><%= f.text_area :trn_satisfaction_level, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>Number and type of course outlines developed </td>
															<td>Type of course outline</td>
															<td>Number</td>
														</tr>
														<tr>
															<td>&nbsp;</td>
															<td><%= f.text_field :trn_course_outlines_typ1, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :trn_course_outlines_num1, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>&nbsp;</td>
															<td><%= f.text_field :trn_course_outlines_typ2, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :trn_course_outlines_num2, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>&nbsp;</td>
															<td><%= f.text_field :trn_course_outlines_typ3, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :trn_course_outlines_num3, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>&nbsp;</td>
															<td><%= f.text_field :trn_course_outlines_typ4, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :trn_course_outlines_num4, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>&nbsp;</td>
															<td><%= f.text_field :trn_course_outlines_typ5, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :trn_course_outlines_num5, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td colspan = "3">&nbsp;</td>
														</tr>
														<tr>
															<td>BSc RM curr developed</td>
															<td colspan="2"><%= f.text_field :trn_BSC_RM_Curr, autofocus: true, class: "form-control" %></td>
														</tr>
														<td>Clinical assessment tools developed</td>
															<td>Assesment tool</td>
															<td>Number</td>
														</tr>
														<td>&nbsp;</td>
															<td><%= f.text_field :trn_clinical_asses_tools_typ1, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :trn_clinical_asses_tools_num1, autofocus: true, class: "form-control" %></td>
														</tr>
														<td>&nbsp;</td>
															<td><%= f.text_field :trn_clinical_asses_tools_typ2, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :trn_clinical_asses_tools_num2, autofocus: true, class: "form-control" %></td>
														</tr>
														<td>&nbsp;</td>
															<td><%= f.text_field :trn_clinical_asses_tools_typ3, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :trn_clinical_asses_tools_num3, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td colspan = "3">&nbsp;</td>
														</tr>
														<tr>
														<td>Tutor performance tools developed</td>
															<td>Number of tools</td>
															<td>Utilisation</td>
														</tr>
														<td>&nbsp;</td>
															<td><%= f.text_field :trn_tutor_perf_tools, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_area :trn_tutor_perf_tools_utl, autofocus: true, class: "form-control" %></td>
														</tr>



														<tr>
															<td>Mentoring skills acquired</td>
															<td colspan="2"><%= f.text_field :trn_mentor_skills, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>% reduction of unprofessionally behaving student Nurses.</td>
															<td  colspan="2"><%= f.text_field :trn_reduction_unprof_student, autofocus: true, class: "form-control" %></td>
														</tr>
														
														<tr>
															<td># of tutors inducted to nursing midwifery education standards</td>
															<td  colspan="2"><%= f.text_field :trn_tutor_induct_midwife, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td colspan = "3">&nbsp;</td>
														</tr>
														<tr>
															<td>Strategic plans available</td>
															<td  colspan="2"> <%= f.select :trn_strategic_plans, options_for_select( ["Yes","No"]),autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>Operational plans available</td>
															<td colspan="2">
															<%= f.select :trn_ops_plans, options_for_select( ["Yes","No"]),autofocus: true, class: "form-control" %></td>
														</tr>
														
														<tr>
															<td># and type of SOPs developed/reviewed</td>
															<td>Type of SOP</td>
															<td>Number</td>
														</tr>
														<tr>
															<td>&nbsp;</td>
															<td><%= f.text_field :trn_SOPs_typ1, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :trn_SOPs_num1, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>&nbsp;</td>
															<td><%= f.text_field :trn_SOPs_typ2, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :trn_SOPs_num2, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td>&nbsp;</td>
															<td><%= f.text_field :trn_SOPs_typ3, autofocus: true, class: "form-control" %></td>
															<td><%= f.text_field :trn_SOPs_num3, autofocus: true, class: "form-control" %></td>
														</tr>

														<tr>
															<td>Level of satisfaction Knowledge, skills & attitudes acquired in material, performance & good governaance
</td>
															<td colspan="2"><%= f.text_area :trn_good_governance, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td># and type of policies developed/reviewed
</td>
															<td colspan="2"><%= f.text_field :trn_policies, autofocus: true, class: "form-control" %></td>
														</tr>
														

														<tr>
															<td>Number of  secondary and primary school students motivated to become nurses and midwives</td>
															<td colspan="2"><%= f.text_field :trn_motivated_pupils, autofocus: true, class: "form-control" %></td>
														</tr>
																<tr>
															<td colspan = "3">&nbsp;</td>
														</tr>
												
														<tr>
															<td># of research studies conducted</td>
															<td  colspan="2"><%= f.text_field :trn_research, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td># of tutors participated in conducting research</td>
															<td  colspan="2"><%= f.text_field :trn_research_tut, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td colspan = "3">&nbsp;</td>
														</tr>
														<tr>
															<td>Number of network meetings conducted.</td>
															<td colspan="2"><%= f.text_field :trn_ntwk_meetings, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td># of MoU signed and functional between college and its teaching hospital</td>
															<td  colspan="2"><%= f.text_field :trn_MOU, autofocus: true, class: "form-control" %></td>
														</tr>
														<tr>
															<td># of joint monitoring visits done</td>
															<td  colspan="2"><%= f.text_field :trn_monitoring, autofocus: true, class: "form-control" %></td>
														</tr>
														
													</tbody>
												</table>
											</div>




											
										</fieldset>
										<div>
											
											<%= submit_tag "Finish", class:"btn btn-primary" %>
										</div>
										<!--/form-->
										<% end %>

									</div>
								</div>
								




								<br /><br />
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<footer>
			<div class="container">
				
				<div class="copy text-center">
					Copyright 2015 <a href='#'>Compu Networks</a>
				</div>
				
			</div>
		</footer>

