<% if !@doc.errors.empty? %>
  <div class="alert alert-error">
    <ul>
      <% @doc.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="well">

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Department</th>
      <th>Upload file</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>


<tr>
  <%= form_for :docs_new, :url => { :action => :create }                           do |f| %>
  <td><%= f.text_field :name %></td>
  <td> <%= f.text_field :department %></td>
  <td> <%= f.file_field :attachment %></td>
  <td> <%= f.submit "Save", class: "btn btn-primary" %></td>
  <% end %>
</tr>
</div>
