    	
      <div class="page-content">
      	<div class="row">
  		  <div class="col-md-2">
  		  	<div class="sidebar content-box" style="display: block;">
                  <ul class="nav">
                      <!-- Main menu -->
                      <li class="current"><a href="home/index"><i class="glyphicon glyphicon-home"></i>Home</a></li>

                      <li class="dropdown">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                             <i class="glyphicon glyphicon-tasks"></i> Data Entry <b class="caret"></b>
                           </a>
                           <!-- Sub menu -->
                           <ul>
                            <li> <%= link_to 'Resource and Finance', forms_new_path %></li>
                             <li><%= link_to 'Gender Justice', form_gender_index_path %></li>
                             <li><%= link_to 'Health', form_health_index_path %></li>
    			   <li><%= link_to 'Monitoring and Evaluation', forms_new_path %></li>
                          </ul>
                      </li>

                      <li class="dropdown">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                             <i class="glyphicon glyphicon-stats"></i> Reports <b class="caret"></b>
                           </a>
                           <!-- Sub menu -->
                           <ul>
                            <li> <%= link_to 'Resource and Finance', forms_new_path %></li>
                             <li><%= link_to 'Gender Justice', report_gender_index_path %></li>
                             <li><%= link_to 'Health', report_health_index_path %></li>
    			   <li><%= link_to 'Monitoring and Evaluation', forms_new_path %></li>
                          </ul>
                      </li>

                      <li class="dropdown">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                             <i class="glyphicon glyphicon-download-alt"></i> Documents <b class="caret"></b>
                           </a>
                           <!-- Sub menu -->
                           <ul>
                            <li> <%= link_to 'View', forms_new_path %></li>
                             <li><%= link_to 'Upload', forms_new_path %></li>
                          </ul>
                      </li>


                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                              <i class="glyphicon glyphicon-list"></i>Partners <b class="caret"></b>
                          </a>
                           <ul>
                            <li> <%= link_to 'Facilities', facilities_path %></li>
                             <li><%= link_to 'Institutions', forms_new_path %></li>
                          </ul>
                      </li>
                  </ul>
               </div>
  		  </div>
  		  <div class="col-md-10">
  		  	<div class="row">

  		  	</div>

  		  	<div class="row">
  		  		<div class="col-md-12 panel-warning">
  		  			<div class="content-box-header panel-heading">
  	  					<div class="panel-title ">NCA Web Based Database System Overview</div>
  						
  						<div class="panel-options">
  							<a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
  							<a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
  						</div>
  		  			</div>
  		  			<div class="content-box-large box-with-header">
  This is a Web Based Database Management System for the Norwegian Church Aid. It contains quarterly data and generates reports as required by the NCA's programs. Below are the areas for which this database system stores, analyses and generates reports.
  </br>
  </br>

  <ul>
  <li> <a href="#"> Resource and Finance</a></li>
  <li><a href="#"> Gender justice</a></li>
  <li> <a href="#"> Health</a></li>
  <li> <a href="#"> Monitoring and Evaluation</a></li>
  </ul>
  						<br /><br />
  					</div>
  		  		</div>
  		  	</div>

  		  	<div class="content-box-large">
  		  	</div>
  		  </div>
  		</div>
      </div>

      <footer>
           <div class="container">
           
              <div class="copy text-center">
                 Copyright 2015 <a href='#'>Compu Networks</a>
              </div>
              
           </div>
        </footer>

