<script>
        
</script>	
    <div class="page-content">
    	<div class="row">
		  <div class="col-md-2">
		  	<div class="sidebar content-box" style="display: block;">
                <ul class="nav">
                    <!-- Main menu -->
                    <li class="current"><a href="home/index"><i class="glyphicon glyphicon-home"></i>Home</a></li>

                    <li class="dropdown">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                           <i class="glyphicon glyphicon-tasks"></i> Data Entry <b class="caret"></b>
                         </a>
                         <!-- Sub menu -->
                         <ul>
                          <li> <%= link_to 'Resource and Finance', forms_new_path %></li>
                           <li><%= link_to 'Gender Justice', form_gender_index_path %></li>
                           <li><%= link_to 'Health', form_health_index_path %></li>
  			   <li><%= link_to 'Monitoring and Evaluation', forms_new_path %></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                           <i class="glyphicon glyphicon-stats"></i> Reports <b class="caret"></b>
                         </a>
                         <!-- Sub menu -->
                         <ul>
                          <li> <%= link_to 'Resource and Finance', forms_new_path %></li>
                           <li><%= link_to 'Gender Justice', forms_new_path %></li>
                           <li><%= link_to 'Health', report_health_index_path %></li>
  			   <li><%= link_to 'Monitoring and Evaluation', forms_new_path %></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                           <i class="glyphicon glyphicon-download-alt"></i> Documents <b class="caret"></b>
                         </a>
                         <!-- Sub menu -->
                         <ul>
                          <li> <%= link_to 'View', forms_new_path %></li>
                           <li><%= link_to 'Upload', forms_new_path %></li>
                        </ul>
                    </li>


                    <li><a href="tables.html"><i class="glyphicon glyphicon-list"></i>Partners</a></li>
                </ul>
             </div>
		  </div>
		  <div class="col-md-10">
		  	<div class="row">

		  	</div>

		  	<div class="row">
		  		<div class="col-md-12 panel-warning">
		  			<div class="content-box-header panel-heading">
	  					<div class="panel-title ">theology - Report</div>
						
						<div class="panel-options">
							<a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
							<a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
						</div>
		  			</div>
		  			<div class="content-box-large box-with-header">
			  			



<!--form-->
	
	  					<div class="content-box-large">
			  				
			  				<div class="panel-body">



									<fieldset>






		  				<div class="panel-body">





		  					<table class="table table-bordered">
				              <tbody>
				                
 <tr>
				                  <td>Number of training manuals produced</td>
				                  <td><%= @theology.theo_training_manuals %></td>
				                </tr>
				                <tr>
				                  <td>Number of female and male teachers, health workers trained in material on human rights and theology</td>
				                  <td><%= @theology.theo_f_and_m_teachers %></td>
				                </tr>
				                
				                <tr>
				                  <td>Number of contextual text interpretations of biblical texts related to Human rights and justice are produced by churches and distributed to 40 % of the parishes</td>
				                  <td><%= @theology.theo_context_text %></td>
				                </tr>
				                <tr>
				                  <td>Number of counselors trained </td>
				                  <td><%= @theology.theo_counselors %></td>
				                </tr>
				                <tr>
				                  <td>Number of churches that have introduced and endorsed code of conduct </td>
				                  <td><%= @theology.theo_code_conduct %></td>
				                </tr>
				                <tr>
				                  <td>Number of churches have decided and introduced code of conduct and employees have signed them.</td>
				                  <td><%= @theology.theo_code_conduct_emp %></td>
				                </tr>              


                       
				                <tr>
				                  <td>Number of churches that have developed diaconal strategies on the foundation of theology and human rights and compassion, fighting injustice, violence and oppression with a special focus upon taking care of survivors of trafficking and GBV.</td>
				                  <td><%= @theology.theo_diaconal_strategies %></td>
				                </tr>
				                
				                <tr>
				                  <td>Number of churches that have developmed of advocacy strategy</td>
				                  <td><%= @theology.theo_develop_advocacy_strategy %></td>
				                </tr>
				                <tr>
				                  <td>Number of churches  using the advocacy strategy. </td>
				                  <td><%= @theology.theo_using_advocacy_strategy %></td>
				                </tr>
				                <tr>
				                  <td>NUmber of monitoring visits conducted</td>
				                  <td><%= @theology.theo_monit_visit %></td>
				                </tr>
				                 <tr>
				                  <td>Number of reports produced.</td>
				                  <td><%= @theology.theo_reports_produced %></td>
				                </tr>
				               



				              </tbody>
				            </table>
		  				</div>




								
									</fieldset>

			  				</div>
			  			</div>
	  				




						<br /><br />
					</div>
		  		</div>
		  	</div>

		  </div>
		</div>
    </div>

    <footer>
         <div class="container">
         
            <div class="copy text-center">
               Copyright 2015 <a href='#'>Compu Networks</a>
            </div>
            
         </div>
      </footer>