<div class="content-box-header panel-heading">
                                                <div class="panel-title ">Trafficking - Report</div>
</div>		  				


<div class="panel-body">





		  					<table class="table table-bordered">
				              <tbody>
				                <tr>
				                  <td>Forms of trafficking cases reported and documented</td>
				                  <td><%= @trafficking.trfk_cases_reported%></td>
				                </tr>
				                <tr>
				                  <td>Number of trafficking cases resolved by law enforcement agencies</td>
				                  <td><%= @trafficking.trfk_cases_resolved%></td>
				                </tr>

						<tr>
				                  <td>% reduction of GBV cases in the churches and communities</td>
				                  <td><%= @trafficking.trfk_percent_reduction%></td>
				                </tr>
				            

<tr>
				                  <td>Number of churches incorporating human rights issues in their church services	</td>
				                  <td><%= @trafficking.trfk_incorporation_in_church%></td>
				                </tr>
				                <tr>
				                  <td>Number of outreach meetings</td>
				                  <td><%= @trafficking.trfk_outreach%></td>
				                </tr>

						<tr>
				                  <td>Number of legal mobile clinics</td>
				                  <td><%= @trafficking.trfk_mobile_clinic%></td>
				                </tr>


<tr>
				                  <td>Number of awareness campaigns	</td>
				                  <td><%= @trafficking.trfk_awareness%></td>
				                </tr>
				                <tr>
				                  <td>Number of cases reported and resolved through informal justice systems	</td>
				                  <td><%= @trafficking.trfk_informal_justice%></td>
				                </tr>

						<tr>
				                  <td>Number of human trafficking victims identified and supported by other service providers</td>
				                  <td><%= @trafficking.trfk_other_service_providers%></td>
				                </tr>


						<tr>
				                  <td>Number of victims rescued, rehabiliated and reintegrated</td>
				                  <td><%=@trafficking.trfk_rescued%></td>
				                </tr>
				                

				                
				                <tr>
				                  <td>Number of courts/safe houses rehabilitated</td>
				                  <td><%= @trafficking.trfk_court_rehabilitated%></td>
				                </tr>
				                <tr>
				                  <td>Number of networking iniatiaves	</td>
				                  <td><%= @trafficking.trfk_network_initiatives%></td>
				                </tr>
				              
				                <tr>
				                  <td>Number of sustained meetings held by interagency operatives</td>
				                  <td><%= @trafficking.trfk_interagency_meet%></td>
				                </tr>
				                <tr>
				                  <td>Trafficking issues raised and responded to</td>
				                  <td><%=@trafficking.trfk_issues_raised%></td>
				                </tr>
				                




				              </tbody>
				            </table>
		  				</div>


  
