<p id="notice"><%= notice %></p>

<h1>Listing Test Mes</h1>

<table>
  <thead>
    <tr>
      <th>Me</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @test_mes.each do |test_me| %>
      <tr>
        <td><%= test_me.me %></td>
        <td><%= link_to 'Show', test_me %></td>
        <td><%= link_to 'Edit', edit_test_me_path(test_me) %></td>
        <td><%= link_to 'Destroy', test_me, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test me', new_test_me_path %>
